Flask==2.2.3
rasa==3.7.0   # Make sure this version is compatible with your Python version (e.g., Python 3.11)
Flask-SocketIO==5.3.0
python-dotenv==0.21.0
requests==2.28.1
tensorflow==2.11.0   # or any version of TensorFlow that suits your use case
